<div class="px-4 py-5">
<%= render 'banner' %>

<div class="row align-items-start">

  <div class="col-12 col-md-6 mb-5 card bg-dark rounded-5 p-0">
    <%= image_tag 'p-helping2.jpg', class: 'card-img-top rounded-5 hover-effect' %>
    <div class="card-body rounded-5 rounded-top-0 p-4">
      <h4 class="card-title my-3">Digital skills, innovation and entrepreneurship training </h4>
      
      <p class="card-text my-3">In 2017, I travelled twice to Sri Lanka with a United Nations agency, ITU, to deliver
        train-the-trainer education to people from the Department of Agriculture and the Telecommunications Regulatory
        Commission.</p>
    </div>
  </div>

  <div class="col-12 col-md-6 ps-lg-5">

    <div class="row">
      <div class="col-12 mb-5 card p-4">
        <div class="row g-0">
          <div class="col-md-6 col-lg-4">
            <a href="https://www.ucubed.co" target="_blank">
              <%= image_tag 'UCUBED-mini.png' , class: 'img-fluid rounded-5 rounded-end-0 border-end-0 p-4 hover-effect' %>
            </a>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="card-body rounded-5 rounded-start-0 border-start-0">
              <h4 class="card-title">U CUBED: teaching web3 digital skills</h4>
              <p class="card-text">I love teaching people and empowering them with skills, knowledge and experiences that
                provides new
                opportunities in their lives.</p>
              <p><a href="https://www.ucubed.co" target="_blank" class="btn btn-sm btn-outline-secondary">Check out U
                  CUBED</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pe-3">
        <div class="card rounded-5 p-0 mb-5">
          <a href="https://www.youtube.com/watch?v=rBW7hVNYzNU" target="_blank">
            <%= image_tag 'tedxyt.jpg' , class: 'img-fluid rounded-5 hover-effect' %>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 ps-3 mb-5">
        <%= render 'socials' %>
        
      </div>
    </div>    
  </div>
</div>
  
  
 

<div class="row align-items-start mb-5 g-0">
  
  <div class="col-12 col-md-6 mb-5">
    <%= render 'carousel' %>
  </div>
  
  <div class="col ps-0 ps-md-5">
    <div class="row g-0 align-items-start">
      <div class="col-12 col-md-6 px-1 pe-md-3 mb-5">
        <div class="card rounded-5 p-0 bg-info-subtle bg-secondary-subtle">
          <!-- <a href="https://github.com/pedrogrande" target="_blank"> -->
            <%= image_tag 'Map.png' , class: 'img-fluid rounded-5 hover-effect' %>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-12 col-md-6 px-1 ps-md-3 mb-5">
        <div class="card rounded-5 bg-secondary-subtle">
          <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank">
            <%= image_tag 'abcnews.jpg' , class: 'img-fluid rounded-5 hover-effect' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 


</div>